{% extends "base.html.twig" %}

{% block title %}Modification de l'annonce:
	{{voiture.marque}}
{% endblock %}

{% form_theme form 'vente/_collection.html.twig' %}

{% block body %}

	<div class="container">
		<h1>Modification de l'annonce :
			<strong>{{voiture.marque}}</strong>
			<strong>{{voiture.modele}}</strong>
		</h1>

		{{form_start(form)}}

		{{form_widget(form)}}
		<button type="submit" class="btn btn-warning mb-5">Modification de l'annonce</button>

		{{form_end(form)}}

	</div>

{% endblock %}

{# Pour cela, il faut aller modifier dans webpack et créer le fichier "ap.js" #}
{% block javascripts %}
	{{encore_entry_script_tags('annonce')}}
{% endblock %}
