{% extends 'base.html.twig' %}

{% block title %}Projet
{% endblock %}

{% block body %}
	<div class="container mb-5" id="session">
		<div class="row justify-content-center p-2">
			<h1 class="mt-3">Vente</h1>

			{# Donc ici, on met "voiture", car c'est le nom de la table de la base de données MAIS on met après voiture au pluriel#}
			{% for voiture in voitures %}
				<div class="col-lg-3 mt-4 border mb-4 mx-3">
					<h2 class="p-2 text-center"><br>
						<span>{{ voiture.marque }}</span><br>
						<span>{{ voiture.modele }}</span>
					</h2>
					<a href="{{ asset('images/images_voitures_cover/' ~ voiture.cover) }}">
						<img class="img-thumbnail img-voiture-cover " src="{{ asset('images/images_voitures_cover/' ~ voiture.cover) }}">
					</a>
					<p class="mt-3">Nombre de Kilomètres:
						{{ voiture.km }}
						km
					</p>
					<p class="mt-3">Prix :
						{{ voiture.price }}
						euros
					</p>
					<a class="btn btn-secondary mb-2" href="{{ path('vente_show', {'slug':voiture.slug} )}}" role=" button">En savoir plus</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
